{{!-- /templates/input-memo.hbs --}}
<div class="component-inner memo-inner">
    {{> component this}}
    <div class="component-widget">
        <div class="memo-title">{{topic_complete}}</div>
        {{#if modus}}
        <!-- each ??? gleicher SpeicherName für alle DBs -->
            <div class="memo-display" id="memo-out-{{topic}}">
                {{#each db}}
                <!-- Überschrift angezeigt? -->
                <div class="header">{{db}}</div>
                <div class="content">{{inputId}}</div>
                {{/each}}
            </div>
        {{else}}
            <textarea class="textarea memo-text" id="{{id}}">{{message}}</textarea>
            <div class="buttongroup">
                <button class="button resetMemo" >{{resetInput}}</button>
                <button class="button clearMemo" >{{clearAll}}</button>
            </div>
        {{/if}}
    </div>
</div>
