{{!-- /templates/input-memo.hbs --}}
<div class="component-inner memo-inner">
    {{> component this}}
    <div class="component-widget">
        <div class="memo-title">{{topic_complete}}</div>
        {{#if modus}}
        <div class="memo-display" id="memo-out-{{topic}}">
        </div>
        {{else}}
        <button class="button saveMemo" >{{saveInput}}</button> 
        <button class="button resetMemo" >{{resetInput}}</button> 
        <button class="button clearMemo" >{{clear_all}}</button></p>
		<textarea class="textarea memo-text" id="memo-in-{{inputId}}">{{message}}</textarea>
        {{/if}}
    </div>
</div>
